@model List<Lead>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Estudantes</h1>
    <h2 class="display-8">Esses são todos os nossos Estudantes!</h2>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                foreach (var lead in Model)
                {
                    
                    <tr>
                        <th scope="row">@lead.Id</th>
                        <th>@lead.Name</th>
                        <th>@lead.Email</th>
                        <th>@lead.FormatCpf()</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
